.admin-menu {
    position: absolute;
    top: 8px;
    right: 40px;
    display: flex;
    /* primary-text/bold */
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 26px;
    /* identical to box height */


    /* #162427 */
    /* justify-items: center; */
    align-items: center;
    color: #162427;
}

.admin-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #001EB9;
    margin-left: 8%;
}

.topic {
    position: absolute;
    width: fit-content;
    height: 49px;
    left: 83px;
    top: 132px;

    /* primary-titles */

    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 49px;
    /* identical to box height */

    letter-spacing: 0.15em;

    /* #162427 */

    color: #162427;
}

.button-allingments {
    position: absolute;
    /* left: 939px; */
    top: 200px;
    display: flex;
}

.button-space{
    margin-left: 65%;
}

.searchbar-allingment {
    margin-left: -20%;
}

.topic-flex {
    position: absolute;
    display: flex;
}

.icon-arrow {
    background-image : url(../../assets/arrow.svg);
    background-size: cover;
    display: inline-block;
    height: 25px;
    width: 25px;
}
